body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header{
    text-align: center;
    padding: 5px 5px; 
    background-color: #2e8538;
    color: white;
}

#nav{
    padding: 5px;
    background-color: #eb6a00;
    color: white;
}
